.innum {
    width: 100px;
}
.innumm {
    width: 80px;
    margin: 0 auto;
}
.ofl{
    overflow-x: scroll;

}
.tdm
{
    padding: 0!important;
    width: 85px!important;

}
.astrsk{
    font-size:130px;
}
form{
    display: contents!important;
}
.pstwtbl{
    display: inline-block;
    width: 200px;
}
.assmb
{
    max-width: 21%;
}
.fls{
    width: 30%;
    display: inline-block;
}
.passon
{
    max-width: 13%;
}